/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font-size: 16px;

  --font-family-inter: "inter";
}

.white {
  color: #fff;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.75rem;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

ul {
  list-style: none;
}

#navbar,
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  margin-right: 3rem;
}

#navbar li {
  padding: 0 20px;
  position: relative;
}

.nav_items button {
  text-decoration: none;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  transition: 0.3s ease-in-out;
}

#mobile {
  cursor: pointer;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family-inter);
}

.box-generator {
  margin: 4vw 0;
}

.generator {
  width: 65%;
  background: rgba(241, 241, 241, 0.86);
  border-radius: 10px;
  padding: 2vw 4vw;
  max-width: 1140px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.generator .btn {
  margin: auto;
}

button {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn {
  background: #EAE7E7;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.39);
  padding: 10px 22px;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
}




.gif {
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
}

/* boutons radio custom */
.custom-radio {
  left: -8px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
}

/* for inner filled circle */
.custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #f4b400;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.radio-input {
  visibility: hidden;
}

.radio-input:checked+span {
  border: 2px solid #f4b400;
}

.radio-input:checked+span:after {
  opacity: 1;
}

form input {
  border: none;
  margin: 10px 0;
  padding: 20px;
  background: #fff;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.product-or-service {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tone {
  display: grid;
  grid-template-columns: 10% 1fr 10% 1fr;
  grid-template-rows: 1fr 1fr;
}

.radio-label {
  display: flex;
  align-items: center;
}

.tone label:nth-child(1) {
  grid-area: 1/2;
  margin-right: 10px;
}

.tone label:nth-child(2) {
  grid-area: 1/3;
  margin-left: 10px;
}

.tone label:nth-child(3) {
  grid-area: 2/2;
  margin-right: 10px;
}

.tone label:nth-child(4) {
  grid-area: 2/3;
  margin-left: 10px;
}

.flex {
  display: grid;
  grid-template-columns: 10% 1fr;
}

.campaign-objective {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.campaign-objective .radio-label {
  display: grid;
  grid-template-rows: 50% 1fr;
  grid-template-columns: 10% 1fr;
  margin-bottom: 2rem;
}

.campaign-objective .custom-radio {
  grid-area: 1/1;
}

.campaign-objective .radio-label .radio-btn-title {
  grid-area: 1/2;
}

.campaign-objective .radio-label .radio-btn-description {
  grid-area: 2/2;
}

.card {
  margin-bottom: 20px;
  border: 1px solid grey;
  width: 65%;
  background: rgba(241, 241, 241, 0.86);
  border-radius: 10px;
  padding: 2vw 4vw;
  max-width: 1140px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.25rem;
}

.presentation_left {
  width: 80%;
}

.header_generator {
  text-align: center;
  padding: 2.25rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.circle {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: linear-gradient(180deg, #6b81fa, #2742f5);
  margin-right: 10px;
}

/* responsive for tablet */
@media screen and (max-width: 900px) {
  .presentation_left {
    width: 100%;
  }

  .generator {
    text-align: left;
  }

  .tone {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .product-or-service {
    flex-direction: column;
    align-items: baseline;
  }

  .campaign-objective {
    display: flex;
    flex-direction: column;
  }

  .presentation_right {
    display: none;
  }
}